body {
    background-color: black;

    color:white;
}

h2{
    font-size:40px;
}

li{

    font-size: 30px;
}
.yazı{

font-size:20px;
}
.yazı2{

    font-size:20px;
    }
    .yazı3{

        font-size:20px;
        }
        .yazı4{

            font-size:20px;
            }
            